<div>Finaliza tu compra</div>
<div><h3>PRODUCTOS</h3>
  {{#each cart.products}}
    <p>*{{this.product.title}}</p>
  {{/each}}
</div>
<p>Código de Compra # {{ticket.code}}</p>
<p>Fecha: {{ticket.purchase_datetime}}</p>
<p>Total: ${{ticket.amount}}.-</p>
<p>Correo Usuario: {{ticket.purchaser}}</p>
<form action=""><button>Comprar</button></form>