<div>
  <section class="sectionProducts">
    <h2>PRODUCTOS</h2>
    <div class="userInfo"><p>¡Hola,
        {{user.first_name}}
        {{user.last_name}}!</p>
      <form action="/api/sessions/logout" method="POST">
        <button class="closeSession" type="submit">Cerrar Sesión</button>
      </form></div>
    {{#if response.payload.length}}
      <div class="productsContainer">
        {{#each response.payload}}
          <div class="cardProduct">
            <h3>{{this.title}}</h3>
            <img class="productImage" src="{{this.thumbnail}}" alt="" />
            <p>$ {{this.price}}</p>
            <div class="detailsProduct">
              <form
                action="/carts/664fa5d4d2c40fa1c15d6a58/products/{{this._id}}"
                method="POST"
              ><button class="addButton" data-id="{{this._id}}">Agregar
                </button></form>
              <a class="viewDetails" href="/productDetails/{{this._id}}">Ver
                más...</a></div>
          </div>
        {{/each}}
      </div>
      <div>
        {{#if response.hasPrevPage}}
          <a href="{{response.prevLink}}">Anterior</a>
        {{/if}}
        &nbsp;
        {{response.page}}
        &nbsp;
        {{#if response.hasNextPage}}
          <a href="{{response.nextLink}}">Siguiente</a>
        {{/if}}
      </div>
    {{else}}
      <p>No products found.</p>
    {{/if}}
    <a href="/carts/664fa5d4d2c40fa1c15d6a58">Carrito</a>
  </section>

</div>

<script src="/js/products.js"></script>