<div class="divDetails">
  <a
    href="/carts/664fa5d4d2c40fa1c15d6a58"
    class="material-symbols-outlined"
    id="imgCart"
  >
    {{#if cart.length}}
      <p class="quantity">{{cart.length}}</p>
    {{else}}
      <p></p>
    {{/if}}
    shopping_cart
  </a>
  <section class="productDetails">
    <h3>{{product.title}}</h3>
    <div class="priceAndMore">
      <img class="imgDetail" src="{{product.thumbnail}}" alt="" />
      <div class="details">
        <p>Descripción: {{product.description}}</p>
        <p>Precio: $ {{product.price}}.-</p>
        <p>Categoria: {{product.category}}</p>
        <div class="btns"><form
            action="/carts/664fa5d4d2c40fa1c15d6a58/products/{{product._id}}"
            method="POST"
          ><button class="addButton">Agregar </button></form>
          <a href="/products"><button class="shoping">Seguir comprando</button></a>
        </div>

      </div>

    </div>
  </section>
</div>

<script src="/js/productDetails.js"></script>