<div class="divDetails">
  <section class="productDetails">
    <h3>{{product.title}}</h3>
    <div class="priceAndMore">
      <img class="imgDetail" src="{{product.thumbnail}}" alt="" />
      <div>
        <p>Descripción: {{product.description}}</p>
        <p>Precio: $ {{product.price}}.-</p>
        <p>Categoria: {{product.category}}</p>
        <button class="addButton">Agregar </button>
        <a href="/products"><button class="shoping">Seguir comprando</button></a>
      </div>

    </div>
  </section>
</div>

<script src="/js/productDetails.js"></script>