<div>
  <section class="sectionProducts">
    <h2>PRODUCTOS</h2>
    {{#if response.payload.length}}
      <div class="productsContainer">
        {{#each response.payload}}
          <div class="cardProduct">
            <p>{{this.title}}</p>
            <img class="productImage" src="{{this.thumbnail}}" alt="" />
            <p>$ {{this.price}}</p>
            <button class="addButton" data-id="{{this._id}}">Agregar
            </button>
          </div>
          {{!-- <li>{{this.name}} - ${{this.price}}</li> --}}
        {{/each}}
      </div>
      <div>
        {{#if response.hasPrevPage}}
          <a href="{{response.prevLink}}">Anterior</a>
        {{/if}}
        &nbsp;
        {{response.page}}
        &nbsp;
        {{#if response.hasNextPage}}
          <a href="{{response.nextLink}}">Siguiente</a>
        {{/if}}
      </div>
    {{else}}
      <p>No products found.</p>
    {{/if}}
  </section>
</div>

<script src="/js/products.js"></script>